.button {
    width: 110px;
    font-size: 18px;
    font-weight: 900;
    text-align: center;
    background-color: #03ca03;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.button:hover {
    border: 2px solid aquamarine;
}

.nav-color {
    /* background-image: radial-gradient( circle 610px at 5.2% 51.6%,  rgba(5,8,114,1) 0%, rgba(7,3,53,1) 97.5% ); */
    background-color: #1d1160;
}