.banner{
    background-image: url('../../../images/campbell-3ZUsNJhi_Ik-unsplash\ \(1\).jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    
}